<?php
$params = \app1\app::getInstance()->getController()->getParams();
?>
<body role="document">
    <div class="container">
        <div id="content" class="row-fluid col-xs-12 col-md-12 col-lg-12">
            <div class="col-sm-12">
                <?= \Pimvc\Tools\Flash::render();?>
            </div>
            <div class="row col-xs-12 col-md-12 col-lg-12">
                <?=$nav; ?>
                <?=$content; ?>
            </div>
        </div> <!-- #content -->
        <br style="clear:both"/>
    </div> <!-- #container -->