
/* media screen */
@media screen and (min-width: 322px) and (max-width: 640px) {

    div#calendar div.header span.title{
        font-size:15px;
    }

    div#calendar{
        width: 330px;
        margin-left: -15px;
    }

    div#calendar div.header {
        width: 310px;
    }

    div#calendar ul.label li{
        width:40px;
        height:20px;
        line-height:20px;
    }

    div#calendar ul.dates li{
        line-height:40px;
        width:40px;
        height:40px;
    }
}

@media screen and (min-width: 200px) and (max-width: 321px) {

    div#ajax{
        margin-left: 50px;
    }
    
    sub {
        bottom: -1em;
        left: -.3em;
    }

    div#calendar div.box-content{
        min-height: 290px;
    }

    div#calendar div.header span.title{
        font-size:15px;
    }

    div#calendar{
        width: 300px;
        margin-left: -30px;
    }

    div#calendar div.header {
        width: 275px;
    }

    div#calendar ul.dates {
        min-height: 250px;
    }

    div#calendar ul li.bd {
        font-size: 19px;
    }

    div#calendar ul li.bd sup{
        font-size: 8px;
    }

    div#calendar ul li.bd sub{
        font-size: 8px;
    }

    div#calendar ul.label li{
        width:35px;
        height:20px;
        line-height:20px;
    }

    div#calendar ul.dates li{
        line-height:35px;
        width:35px;
        height:35px;
    }

    input.form-control{
        min-width: 100px;
    }
}