#content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}

#content-wrapper::before{
    content:'';
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:url("../../img/rdash/sky-bg.jpg") no-repeat center center;
    background-size:cover;
    will-change:transform;
    z-index:-1;
}

.page-content{
    color: white;
}

@media only screen and (min-width: 561px) {
    #page-wrapper.active {
        padding-left: 250px;
    }
}
@media only screen and (max-width: 560px) {
    #page-wrapper.active {
        padding-left: 70px;
    }
}
#page-wrapper.active #sidebar-wrapper {
    left: 150px;
}
