.cellDim{
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
}

.cell{
    position:relative;
    overflow:hidden;
    float:left;
    margin:0 auto;
    cursor: pointer;
    z-index: 10;
}

.pivoth:after,.horiz:after{
    height:20px;
    width:20px;
    position:absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg) ;
    content:'';
    display:block;
    left:-12px;
    top:0;
    background-color: lightgreen;
    background-size:cover;
    z-index: -1;
}

.pivotv:after,.vert:after{
    height:20px;
    width:20px;
    position:absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg) ;
    content:'';
    display:block;
    left:0;
    top:-12px;
    background-color: lightblue;
    background-size:contain;
    z-index: -1;
}

.pivotd:after,.dup:after{
    height:20px;
    width:20px;
    position:absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg) ;
    content:'';
    display:block;
    left:10px;
    top:10px;
    background-color: lightpink;
    background-size:contain;
    z-index: -1;
}

.pivotdd:after,.ddown:after{
    height:20px;
    width:20px;
    position:absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg) ;
    content:'';
    display:block;
    left:-10px;
    top:10px;
    background-color: lightsteelblue;
    background-size:contain;
    z-index: -1;
}

.topOffset{
    margin-top: 70px;
}

#matrix{
    margin-bottom: 10px;
}

/*
@media screen and (max-width: 1024px) {
    .cell{
        font-size: 10px;
        margin: 1px;
        padding: 1px;
    }
}

@media screen and (max-width: 640px) {
    .cell{
        font-size: 9px;
        margin: 1px;
        padding: 1px;
    }
}
*/
@media screen and (max-width: 320px) {
    .form-control,option{
        padding: 0;margin: 0;
    }
    .cell{
        margin: 0;
        font-size: 9px;
        padding: 1px;
    }
}