div.paginator{
    margin-bottom: 5px;
    /* margin-left:auto; */
    /* margin-right: auto; */
    text-align: center;
    font-size: 0.7em;
}

a.paginatorItemLink {
    display: inline-block;
    /* position: relative; */
    /* float: left; */
    padding: 6px 12px;
    margin-left: -1px;
    /* line-height: 1.42857143; */
    color: gray;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

span.paginatorItem {
    /* margin-left:5px; */
    /* border:solid black 1px; */
    /* font-weight: bold; */
    /* -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3); */
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3); */
    /* vertical-align: middle; */
    /* background: -webkit-linear-gradient(top left, white 0%, #EEEEEE 8px); */
    background: -moz-linear-gradient(top left, white, #EEEEEE 8px);
    background-image: -ms-linear-gradient(top left, white 0%, #FFDD00 8px);
    background-image: -o-linear-gradient(top left, white 0%, #FFDD00 8px);
    background-image: linear-gradient(top left, white 0%, #FFDD00 8px); 
}

span.paginatorItemSelected .paginatorItemLink{
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: gray;
    border-color: gray;
}

span.end .paginatorItemLink{border-top-right-radius: 4px;border-bottom-right-radius: 4px;}
span.begin .paginatorItemLink{margin-left: 0;border-top-left-radius: 4px;border-bottom-left-radius: 4px;}